.venv/
animations-and-editing/media/
animations-and-editing/Adobe/
animations-and-editing/Adobe Premiere Pro Auto-Save/
animations-and-editing/Raw Clips/
__pycache__/
*.pyc

*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.flac

*.psd
*.ai
*.png
*.jpg
*.jpeg
*.gif

*.tmp
*scratchpad*
*todo.txt