.venv/
Stock Market in Minecraft/media/
Stock Market in Minecraft/Adobe/
Stock Market in Minecraft/Adobe Premiere Pro Auto-Save/
Stock Market in Minecraft/Raw Clips/
__pycache__/
*.pyc

*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.flac

*.psd
*.ai
*.png
*.jpg
*.jpeg
*.gif

*.tmp
*scratchpad*
*todo.txt